<%- include('includes/head.ejs') %>
<header>
    <h1 class="title">404 No hay chilaquiles</h1>
</header>
<main>
    <br>
    <p class="block">
        Lo sentimos, los <span>chilaquiles</span> que estás buscando no se hacen aquí. 
    </p>
<%- include('includes/foot.ejs') %>