.verde {
    color: rgb(14, 237, 14);
}

.verde:hover {
    color: rgb(41, 118, 41);
}

#titulo {
    color:rgb(150, 126, 94);
}

.answer {
    color:lightblue;
    font-style: italic;
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Georgia", serif;
    line-height: 1.5;
    padding: 4em 1em;
}

header {
    line-height: 0.5;
    padding: 10vw 2em;
    text-align: center;
  }

header h1 {
  color: white;
  font-family: "Cormorant Garamond";
  font-style: oblique;
  font-size: 4.5em;
  font-weight: 500;
}

